<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Com.AugustCellars.COSE" version="1.7.0" targetFramework="net48" />
  <package id="DynamicLanguageRuntime" version="1.3.0" targetFramework="net48" />
  <package id="PeterO.Cbor" version="4.4.4" targetFramework="net48" />
  <package id="PeterO.Numbers" version="1.8.1" targetFramework="net48" />
  <package id="PeterO.URIUtility" version="1.0.0" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.8.5" targetFramework="net48" />
  <package id="Zlib.Portable" version="1.11.0" targetFramework="net48" />
</packages>